<div class="container-fluid bd">
<h1 class="center">Posts</h1>
<div class="col-8 m-auto">
  <div class="row">
    <%= link_to 'New Blog', new_blog_path, class: 'btn btn-warning btn-sm' if logged_in?(:site_admin) %>
  </div>
</div>

  <div class="col-8 m-auto">
  <%= paginate @blogs %>
</div>
<div class="col-8 m-auto">
  <%= render @blogs %>
</div>

<div class="row">
  <%= paginate @blogs %>
</div>


<div id="paginator" class="col-12">

</div>
</div>
