<h1>Blogs</h1>
<div class="col-12">
  <div class="row">
    <%= link_to 'New Blog', new_blog_path, class: 'btn btn-warning btn-sm' if logged_in?(:site_admin) %>
  </div>
</div>


<div class="row">
  <%= paginate @blogs %>
</div>

<%= render @blogs %>

<div class="row">
  <%= paginate @blogs %>
</div>


<div id="paginator" class="col-12">

</div>
