<h2>Portfolio Items</h2>

<% @portfolio_items.each do |item| %>
  <h3><%= link_to item.title , item %></h3>
    <p><em><%= item.subtitle %></em></p>
    <%= image_tag item.thumbnail unless item.thumbnail.nil?  %>
  <div><%= item.body %></div>
<hr>
<% end %>