<div class="container-fluid bd">
  <h2 class="text-center">Portfolio</h2>
  <% if logged_in?(:site_admin) %>
  <div class="mini-nav">
    <%= link_to 'Create New Item', new_portfolio_path, class: 'btn btn-primary' %>
  </div>
  <% end %>
  <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
    <%= render partial: 'portfolio_item', collection: @portfolio_items %>
  </div>
</div>
