<footer id="footer">
  <div class="container-fluid bd">
  <div class="col">
        <ul id="foot-nav">
          <%= nav_helper 'nav-link', 'li' %>
        </ul>
  </div>
  <%= source_helper("application") %>
  <div class="col text-center copy">
    <%= copyright_generator %>
  </div>

  </div>
  <%= alerts %>
</footer>