<div class="container-fluid bd">
  <h2 class="hero">Web Developer</h2>
  <p class="sub-text"><em>Responsive Web Design, Landing Page, Rails, Python, WordPress, Video Editor</em></p>

  <h4>Education</h4>
  <p>BA in Multimedia Studies - University of the Philippines Open University
  <br>Diploma in Software Development - AMA Computer Learning Center</p>
  <a href="https://ph.linkedin.com/in/christian-bernard-alvero-b826b927" target="_blank" class="btn btn-primary">LinkedIn</a>
  <a href="http://www.upwork.com/o/profiles/users/_~016ff5b37ed77bc45f/" target="_blank" class="btn btn-success">Hire Me</a>
</div>

