<div id="about" class="container-fluid bd">
  <div class="row">
    <div class="col-lg-6 m-auto">
      <div class="center">
        <%= image_tag "profile.jpg", alt: "Profile Image", class: 'profile' %>
      </div>

      <h2 class="hero center">Web Developer</h2>
      <p class="sub-text center"><em>Frontend, WordPress, Responsive Web Design, Landing Page, Rails, Python</em></p>

      <p>I have developed many Wordpress Websites, Landing Pages, Responsive Websites and mostly Front-end tasks in the past years.</p>

      <p>I took up Software Development and Multimedia in College thus my skill set is combination of Coding and Design.</p>

      <p>I started web development with HTML/CSS/Javascript then moved to WordPress. I have 6+ years experience with WordPress. I recently started with Backend development using Python (Django/Flask) and Ruby on Rails.</p>

      <p>With this experience/skill set I can easily work on Front-end tasks for sites built with Django/Flask and Ruby on Rails as I am pretty well-versed with the templating languages used on these frameworks. I also understand how these frameworks works so I am confident that I can do basic to mid level back-end tasks (CRUD/Associations/Models/Controllers/JSON)</p>
      <hr />

      <h3>Education</h3>
      <p>BA in Multimedia Studies - University of the Philippines Open University
        <br>Diploma in Software Development - AMA Computer Learning Center</p>

        <a href="https://ph.linkedin.com/in/christian-bernard-alvero-b826b927" target="_blank" class="btn btn-secondary">LinkedIn</a>
        <a href="http://www.upwork.com/o/profiles/users/_~016ff5b37ed77bc45f/" target="_blank" class="btn btn-primary">Hire Me</a>


    </div>
  </div>


</div>

