<div class="container-fluid bd">
<h1>Contact</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15400.573965857255!2d120.57971265!3d15.205311799999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396edad7883df89%3A0x9bac8ef881c9b01c!2sMabiga%2C+Mabalacat%2C+Pampanga!5e0!3m2!1sen!2sph!4v1492417744837" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>