<h1>Homepage</h1>
<% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
    <hr>
<% end %>

<% @skills.each do |skill| %>
    <div><%= skill.title %> - <%= skill.percent_utilized %></div>

<% end %>