@import "gritter";


@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,500,500i,700,700i');

//Colors
$white: #fff;
$grey: #f5f5f5;
$header-font: 'Rubik', sans-serif;
//$default-font: 'Muli', sans-serif;
$default-font: 'Roboto Mono', monospace;
$grey-font: rgba(0,0,0,.8);


/* Utilities */

.center {
  text-align: center;
}


#main {
  min-height: 80vh;
}

body, p, div {
  font-family: $default-font;
  font-weight: 400;
  font-size: 16px;
  color: $grey-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: 300;
  color: #222 !important;
}

img {
  max-width: 100%;
}

.bg-faded {
  background: $white;
}

.bd {
  padding: 0 7.14%;
}

a {
  color: #bbb;
}

a:hover {
  text-decoration: none;
}


.entry p {
  margin-top: 15px;
}

.gritter-title , #gritter-notice-wrapper p {
  color: #fff !important;
}

/* header */

#branding {
  font-family: $header-font;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

#branding img {
  vertical-align: top;
}


.navbar-light .navbar-nav .nav-link {
  color: #bbb;
  font-weight: normal;
}

.auth-btn {
  padding: 5px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #e6e6e6;
  color: #525252;
  border-radius: 3px;
  background-color: #f6f6f6;
}


.mini-nav {
  display: block;
  width: 100%;
  padding: 15px 0;
}

.jumbotron {
  background-color: $grey;
}

/* Portfolio */


.portfolio-item .portfolio.title {
  color: #fff;
  font-size: 22px;
  font-family: $header-font;
  font-weight: 300;
}

.portfolio-subtitle {
  font-size: 12px;
  color: #fff;
}

.portfolio-item {
  padding: 0;
  position: relative;
  margin: 14px 0px;
  height: 320px;
  background-size: cover;
}


.portfolio-item img {
  max-width: 100%;
}

.portfolio-item:hover .overlay, .portfolio-item:hover .portfolio-summary {
  opacity: 1;
}


.portfolio-summary {
  opacity: 0;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff !important;
  font-weight: 300;
  transition: opacity .5s;
}


.portfolio-header-image {
  background-size: cover;
  background-position: top center;
  min-height: 60vh;
  margin-bottom: 30px;
}

.overlay {
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  transition: opacity .5s;
}

.section {
  padding: 30px 0;
}

.technologies ul {
  list-style: none;
  padding: 0;
}

/* Blog */

.meta {
  width: 100%;
  margin-bottom: 15px;
  font-size: 13px;
}

.pagination a {
  color: #888 !important;
  background: #f6f6f6;
  border-color: #e6e6e6 !important;
  border-radius: 3px;
}

.pagination span.disabled {
  color: #666666;
  border-color: #e6e6e6;
  border-radius: 3px;
}

.comment-card {
  margin-bottom: 10px;
}

.comment-card .card {
  padding: 10px;
}

.avatar {
  float: left;
  display: inline-block;
  margin-right: 10px;
}

.avatar img {
  display: inline-block;
  float: left;
}

.comment-card .comment.meta {
  margin: 15px 0 0 15px;
}



/* Footer */

#footer {
  margin-top: 45px;
  padding: 60px 0;
  border-top: 1px solid #e6e6e6;
  color: #bbb;
  background: #f6f6f6;
}

#footer .copy {
  color: #bbb;
  font-weight: 300;
}

#foot-nav {
  padding: 0;
  text-align: center;
}

#foot-nav li {
  display: inline-block;
}

#foot-nav li a {
  color: #bbb;
}

.tech-news {
  background-color: #f6f6f6;
  margin: 15px 0;
  padding: 15px;
  box-shadow: -2px -2px 0px rgba(0,0,0,0.1) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
}
