// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "main";

.portfolio-item {
  float: left;
  text-align: center;
  margin: 15px 0;
  padding: 30px;
}

.portfolio-item img {
  margin-bottom: 30px;
  border-radius: 50%;
  max-width: 100%;
}

.portfolio-item h3 {
  font-size: 1.1em;
}